.all-events{
    padding-top:48px;
    display: flex;
    flex-wrap: wrap;
}

.event{
    width:33.33%;
    transition: 0.4s;
}

.event:hover{
    transition: 0.4s;
    box-shadow: 0px -17px 246px rgba(106, 208, 255, 0.15), 0px -6.20528px 89.794px rgba(106, 208, 255, 0.103497), 0px -3.01255px 43.5933px rgba(106, 208, 255, 0.0834436), 0px -1.47681px 21.3703px rgba(106, 208, 255, 0.0665564), 0px -0.583932px 8.44984px rgba(106, 208, 255, 0.0465028);
}

.event-inner{
    padding:8px;
}

.event-img img{
    width:100%;
  transition: 0.2s;
}

.event-img img:hover{
    transition: 0.2s;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);;
}

.event-content{
    display: flex;
    align-items: center;
    font-size: 14px;
}
i{
    padding:8px;
}

.small-gap{
    padding:12px 0px;
}

.small-gap a{
    font-weight: 600;
}

@media(max-width:768px){
    .event{
        width:50%;
    }
    .event-inner{
        padding:8px;
    }
  }

  @media(max-width:455px){
    .event{
        width:100%;
    }
    .event-inner{
        padding:8px;
    }
  }